*{
    text-transform: uppercase
}

/*Header*/
header {
    width: 100%;
    height: 73vh;
    background: url(images/home_main_desktop.jpg) center no-repeat;
    background-size: cover;
/*    background-color: aqua;   */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;  
}

.lg-button {
    height: 11%;
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-button {
    background-color: white;
    font-size: 1.3em;
    margin-bottom: 1.3%;
}

.fa-chevron-down {
    color: white;
    margin: 0.5%;
}

#chevron-down {
    width: 3.2%;
    height: 4.5%;
    margin: 1.5%;
}

/*Top Nav - Black strip - Account/order buttons*/
#sub-nav-bar1 {
    width: 100%;
    height: 18%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
}

#sub-nav-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0.5% 20%;
}

#accnt-btns {
    list-style: none;
    text-align: center;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    width: 12%;
}

#accnt-btns a{
    text-decoration: none;
    color: white;
}

#accnt-btns a:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .5s ease;
}
#accnt-btns a:hover:after {
    width: 100%;
    background: white;
}